{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}"/>
<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
<link rel="stylesheet" href="{% static 'css/gh-pages.materialize.css' %}">
<!DOCTYPE html>
<html lang="en">
<body>
<div id="circle" class="section scrollspy">
    <div class="row">
        <div class="col s12">
            <h2 class="header">All Notifications</h2><br>
            {% if notifications_list %}
            <ul class="collection">
                {% for notification_data in notifications_list %}
                <li class="collection-item avatar">
                    <img src={{ notification_data.image_url }} alt="" class="circle">
                    <a href="/dashboard/notifications/{{ notification_data.id }}/"> <span class="title">{{ notification_data.notification_name }}</span></a>
                    <p>{{ notification_data.header }}<br>
                        {{ notification_data.content }}
                    </p>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No notifications are available.</p>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>