{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}"/>
<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
<link rel="stylesheet" href="{% static 'css/gh-pages.materialize.css' %}">
<!DOCTYPE html>
<html lang="en">
<body>
<div id="circle" class="section scrollspy">
    <div class="row">
        <div class="col s12">
            <h2 class="header">All Users</h2><br>
            {% if users_list %}
            <ul class="collection">
                {% for user in users_list %}
                <li class="collection-item avatar">{{ user.id }}:
                    <a href="/dashboard/users/{{ user.id }}/"> <span class="title">{{ user.user_name }}</span></a>
                    <p>{{ user.city }}
                    </p>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No users are available.</p>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>
