{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
<link rel="stylesheet" href="{% static 'css/gh-pages.materialize.css' %}">
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!DOCTYPE html>
<html lang="en">
    <body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <br><br>
    <h2 style="text-align:center;" class="header">Notifications Dashboard</h2>
    <div class="row">
        <div  class="col s4">
            <div class="center promo promo-example">
                <a href='/dashboard/notifications/create'>
                    <i class="material-icons">notifications</i>
                    <p class="promo-caption">Schedule Notification</p>
                </a>
            </div>
        </div>
        <div  class="col s4">
            <div class="center promo promo-example" class="col s4">
                <a href='/dashboard/users'>
                    <i class="material-icons">group</i>
                    <p class="promo-caption">All Users</p>
                </a>
            </div>
        </div>
        <div  class="col s4">
            <div class="center promo promo-example" class="col s4">
                <a href='/dashboard/notifications/all'>
                    <i class="material-icons">speaker_phone</i>
                    <p class="promo-caption">All Notifications</p>
                </a>
            </div>
        </div>
    </div>
    </body>
</html>