<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/gh-pages.materialize.css' %}">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
</head>
<body>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script>
$(document).ready(function() {
    $('select').material_select();
});
</script>
<div class="row">
    <h2 class="header">Schedule a notification</h2><br>
    <form class="col s12" action="{% url 'notifications:create' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">title</i>
                <input id="notifname" type="text" class="validate" name="notification_name">
                <label for="notifname">Notification name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <i class="material-icons prefix">text_format</i>
                <input id="headertxt" type="text" class="validate" name="header" minlength="20" maxlength="150">
                <label for="headertxt">Header</label>
            </div>
            <div class="input-field col s4">
                <i class="material-icons prefix">mode_edit</i>
                <input id="contenttxt" type="text" class="validate" name="content" minlength="20" maxlength="300">
                <label for="contenttxt">Content</label>
            </div>
            <div class="input-field col s4">
                <i class="material-icons prefix">link</i>
                <input id="imgurl" type="text" class="validate" name="image_url">
                <label for="imgurl">Image URL</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">date_range</i>
                <!--<input type="date" class="datepicker" id="sendtime" name="send_time">-->
                <input type="text" id="sendtime" class="validate" name="send_time">
                <label for="sendtime">Scheduled Time (Format: YYYY-MM-DD hh:mm:ss)</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <select id="userprop" name="user_property">
                    <option value="" disabled selected>Choose a user property</option>
                    <option value="id">ID</option>
                    <option value="user_name">User Name</option>
                    <option value="user_city">User City</option>
                </select>
                <label for="userprop">User Properties</label>
            </div>

        </div>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">group</i>
                <textarea id="uservals" class="materialize-textarea" name="user_property_values"></textarea>
                <label for="uservals">User Property Values (One per line)</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Submit</button>
    </form>
</div>
</body>
</html>
