{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}"/>
<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
<link rel="stylesheet" href="{% static 'css/gh-pages.materialize.css' %}">
<!DOCTYPE html>
<html lang="en">
<body>
<div>
    <h2>{{ notification_data.notification_name }}</h2>
    <p> Header: {{ notification_data.header }} </p>
    <p> Content: {{ notification_data.content }} </p>
    <p> Image: </p>
    <p></p><img src="{{ notification_data.image_url }}" alt="Notification Image" style="max-width:200; height:auto"></p>
    <p>Scheduled Time: {{ notification_data.send_time }}</p>
    <p>Users: Users with {{ notification_data.user_property }} as {{ notification_data.user_property_values }}</p>
    <p>Sent Status: {{ notification_data.sent_status }}</p>
</div>
</body>
</html>
