{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}"/>
<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
<link rel="stylesheet" href="{% static 'css/gh-pages.materialize.css' %}">
<!DOCTYPE html>
<html lang="en">
<body>
<div>
    <h2>{{ user.user_name }}</h2>
    <p> ID: {{ user.id }} </p>
    <p> City: {{ user.user_city }} </p>
    <p> Installed: {{ user.installed }} </p>
</div>
</body>
</html>

